/*common*/
*{margin: 0;padding: 0;}
ul li{list-style: none;}
button{border:0; outline: 0; background: none; cursor: pointer;}
a{color:black; text-decoration: none;}
fieldset{border:0}
legend{position: absolute; top:-9999px;left:-9999px}
body{background:#f9f9f9; font-family: 'Noto Sans KR','Roboto', sans-serif;}

.pc_vis{display: block;}
.m_vis{display: none;}
.hot_new .swiper-button-prev{left:15px}
.hot_new .swiper-button-next{right:15px} 

.header .head_top{position: fixed;top: 0;left: 0;width: 100%; height: 80px;z-index: 100; background: #fff; box-sizing: border-box; padding:0 30px; box-shadow: 0 1px 3px 0 rgba(0,0,0,.12);}
.header .head_top h1 a{background: url(images/logo.png) no-repeat; text-indent: -9999px; background-size: 100%;
position: absolute; left:30px; top:25px ;width:113px; height: 31px;}
.header .head_top ul{overflow: hidden; padding-left:190px}
.header .head_top ul li{float: left; padding-right:2%; padding-top:30px}
.header .head_top ul li a{font-weight: 500;}
.header .head_top ul li.right{float: right;}
.header .head_top ul li.right a{color:#8c8c8c; font-size:12px; font-weight: normal;}
.header .head_top form{position: absolute; top:20px;}

.header .head_side {position: fixed;width: 200px;height: 100%;top:0;left: 0;padding-top: 80px; background: #fff; border-right:1px solid #e4e8eb; box-sizing: border-box;}
.header .head_side div{overflow: hidden;padding: 15px 20px}
.header .head_side button{background:url(images/sprite_pc.png) no-repeat; background-position: 0 -183px;color:#A3A3A3; font-size: 12px; padding-left: 25px; cursor: pointer;}
.header .head_side .top{border-bottom: 1px solid #efefef;}
.header .head_side .top img{width:18px; height: 18px; padding-right:3px;}
.header .head_side .top a:first-child{width:100%; border:1px solid #d9d9d9; margin-bottom:10px; padding:5px 0; color:#01cd3b}
.header .head_side .top a:first-child:hover{text-decoration: none; background: #f1f3f5;}

.header .head_side div a{float: left; width:50%; font-size: 12px; text-align: center; color:#888;}  
.header .head_side ul{padding: 10px 10px;}
.header .head_side li {transition: all 0.1s ease;}
.header .head_side li a{color:#3A3635; font-size: 15px; padding-left:50px; line-height: 50px;}
.header .head_side li:hover{background: #01cd3b; border-radius: 8px;}
.header .head_side li:hover a{color:#fff; display: block; }

.header .head_side .li01 a{background: url(images/head_side/m_01.svg) no-repeat; background-size: 22px; background-position: left 15px center;}
.header .head_side .li01:hover a{background: url(images/head_side/m_01_on.svg) no-repeat; background-size: 22px; background-position: left 15px center;}
.header .head_side .li02 a{background: url(images/head_side/m_02.svg) no-repeat; background-size: 22px; background-position: left 15px center;}
.header .head_side .li02:hover a{background: url(images/head_side/m_02_on.svg) no-repeat; background-size: 22px; background-position: left 15px center;}
.header .head_side .li03 a{background: url(images/head_side/m_03.svg) no-repeat; background-size: 22px; background-position: left 15px center;}
.header .head_side .li03:hover a{background: url(images/head_side/m_03_on.svg) no-repeat; background-size: 22px; background-position: left 15px center;}
.header .head_side .li04 a{background: url(images/head_side/m_04.svg) no-repeat; background-size: 22px; background-position: left 15px center;}
.header .head_side .li04:hover a{background: url(images/head_side/m_04_on.svg) no-repeat; background-size: 22px; background-position: left 15px center;}
.header .head_side .li05 a{background: url(images/head_side/m_05.svg) no-repeat; background-size: 22px; background-position: left 15px center;}
.header .head_side .li05:hover a{background: url(images/head_side/m_05_on.svg) no-repeat; background-size: 22px; background-position: left 15px center;}
.header .head_side .li06 a{background: url(images/head_side/m_06.svg) no-repeat; background-size: 22px; background-position: left 15px center;}
.header .head_side .li06:hover a{background: url(images/head_side/m_06_on.svg) no-repeat; background-size: 22px; background-position: left 15px center;}
.header .head_side .li07 a{background: url(images/head_side/m_07.svg) no-repeat; background-size: 22px; background-position: left 15px center;}
.header .head_side .li07:hover a{background: url(images/head_side/m_07_on.svg) no-repeat; background-size: 22px; background-position: left 15px center;}

body.on{overflow: hidden;}

.m_menu{width:100%; height: 100%; position: fixed; background: #fff; z-index: 110;right:-2000px;
  -webkit-transition: right 0.5s ease-in-out;-moz-transition: right 0.5s ease-in-out;
  -o-transition: right 0.5s ease-in-out; transition: right 0.5s ease-in;}
.m_menu.on{width:100%; height: 100%; position: fixed; right:0; overflow: scroll;
  -webkit-transition: right 0.5s ease-in-out;-moz-transition: right 0.5s ease-in-out;
  -o-transition: right 0.5s ease-in-out;transition: right 0.5s ease-in;}
.m_menu>div{padding: 10px 10px; box-sizing: border-box;}
.m_menu .my img{width:12%; height: 12%; border:5px solid #01cd3b; border-radius: 50%;}
.m_menu .setup img, .m_menu .close img{width: 5%; height: 5%; float: right; padding-right: 25px;}

.my_info{position: relative;}
.my_info span{position: absolute; top:35%; left:18%; font-size:20px}
.membership div{overflow: hidden; padding:10px 0;}
.membership div span{line-height: 2.3; display:inline-block; height: 35px; font-size: 14px;}
.membership a{border:1px solid gray; border-radius: 30px; float: right; padding:5px 10px; font-size: 12px;}
.membership a:hover{background: #01cd3b; border:1px solid #01cd3b; color:#fff; transition: all 0.1s ease; border:1px solid #000}
.membership div:first-child span{color:#01cd3b}

.m_li ul{overflow: hidden;}
.m_li ul li{float: left; width: calc(50% - 12px); padding: 10px 3px}
.m_li p{padding:20px 0 3px 3px; border-bottom:1px solid #5f7d95}
.m_li img{width:18px; height: 18px; padding: 0 10px;}

.container{padding:80px 0 10px 200px;}
.main_slider{background: #f1f1f1; box-sizing: border-box; position: relative; padding: 15px 80px}
.main_slider .up{overflow: hidden; padding: 30px 0;}
.main_slider .up h2{float: left; padding-right: 30px;}
.main_slider .up>button{padding-top:10px}
.main_slider .up button{float:left; color:#3A3635; font-size: 14px; margin:0 10px}
.main_slider .up a {float: right;}
.main_slider .up div button{text-indent: -9999px; border-radius: 50%; width:7px; height: 7px; background: #bbc1c3; margin:0 10px}
.main_slider .up div button.on{background: #ff5546;}
.main_slider .down ul{overflow:hidden}
.main_slider .down .slider_name{padding: 0 12px; box-sizing: border-box;}
.main_slider .down ul li{float: left; width:20%; padding: 15px 5px; box-sizing: border-box;}
.main_slider .down ul li img{width:100%}
.main_slider .down span{display: block;font-size: 14px; color:#3a3635; line-height: 2; text-overflow:ellipsis;white-space:nowrap; overflow:hidden;width:148px
;}
.main_slider .down span:last-child{font-size: 12px; color:#757271}
.main_slider .down .off{display:none}
.main_slider .down .off_li{display:none}
.main_slider .down .on_li li{ animation: fadein 0.5s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */}
  @keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.main_slider .up button.on{color:#3A3635; border-bottom:2px solid #FF564C}
.main_slider a{position: relative; display: block;}
.main_slider .btn_start{background: url(images/btn_start.png) no-repeat;width: 25px; height: 25px; background-position: -135px -30px;
position: absolute; right: 10px; bottom:17px;}
.main_slider .btn_start:hover{background-position: -135px -59px;}

.banner{padding: 70px 0}
.banner div{text-align: center;}
.banner span{display: block; word-break: keep-all; line-height: 1.5;}
.banner span:first-child{font-size: 28px; color:#000; font-weight: bold;}
.banner span:last-child{font-size: 20px; color:#939393}

.main_chart{overflow: hidden; padding: 50px 80px}
.main_chart .time{float: right; padding-right:55px}
.main_chart .chart{float: left; width:70%;}
.main_chart .chart h2{display: inline;}
.main_chart .hot_new{float: right; width:30%}

.chart ul {float: left; width:100%; line-height: 2.7;}
.chart ul li{float: left;}
.chart ul .li_name{width:70%; padding: 5px 0 0 10px}
.chart ul .li_name div{overflow: hidden;}
.chart ul .li_name a{float: left; width:80%}
.chart ul .li_name a:last-child{width:20%}
.chart>div{padding:20px 0}
.chart ul li button{margin-right:10px}
.chart ul li img{width:45px; height: 45px; display:none; padding-left:15px}
.chart .li_btn{float: right;}

.chart .chart_hover img{display: block;}
.chart .chart_hover .number{font-size: 30px; padding:0}
.chart .chart_hover li{padding-top:18px}
.chart .chart_hover .li_name .song_name{font-weight: bold;}
.chart .chart_hover .li_name .artist{font-size: 0;}
.chart .chart_hover .li_name .h_artist{font-size: 12px;}
.chart .li_name .h_artist{float: none; display:block; line-height: 1.7; color:#8b7e7e; font-size:0}

.main_chart .number{color:#444; font-style: italic; font-weight: bold; font-size:15px; width: 5%;}
.main_chart .song_name{color:#27282d; font-size:12px;float: left;}
.main_chart .artist{color:#8b7e7e; font-size:12px;}

.main_chart .chart button{width:24px; height: 24px; background: url(images/btn_start.png) no-repeat;text-indent: -9999px; cursor: pointer;} 
.main_chart .chart .li_btn .btn_start{background-position: 0 -167px;}
.main_chart .chart .li_btn .btn_add {background-position: -165px 0;}
.main_chart .chart .li_btn .btn_etc {width:3px;height: 17px; background-position:-266px -209px;}

.main_chart table{border-collapse: separate;border-spacing: 0 10px; width:100%}
.main_chart .hide th{text-indent: -9999px;}
.main_chart .zoom img{width:48px; height: 48px;}
.main_chart table tbody tr.on td{height: 100px;}
/* .zoom .number{border-spacing: 10px 0;} */

.main_chart .hot_new h2{padding:15px 15px}
.main_chart .hot_new .new{overflow: hidden; width: 100%;border-bottom : 1px solid #dedede; padding:10px 15px}
.main_chart .hot_new .new div{float: left;}
.main_chart .hot_new span{display: block; line-height: 2;}
.main_chart .hot_new .new img{float: left; width:68px; height: 68px; padding-right: 10px;}
.main_chart .hot_new .blue{color:#0eb6e6; font-size:11px; font-weight: bold;}
.main_chart .hot_new .black{color:27282d; font-size: 12px;}
.main_chart .hot_new .gray{color:#8b8b8b; font-size: 12px;}
/*hot & new slide*/
.hot_new .swiper-container {
width: 100%;
height: 100%;
margin-bottom:10px
}
.hot_new .swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;

/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}

.swiper-pagination-bullet{
float: left;
margin-left:10px
}

.swiper-pagination{
padding-left:10px;
padding-top:10px
}

.swiper-pagination-bullet:last-child{
background: url(images/arrow.png) no-repeat;
background-position: -21px -11px; width:16px; height: 16px;
display:inline-block;
}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after{display: none;}
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after{display: none;}

.swiper-button-prev{width:26px;height: 44px; background: url(images/arrow.png) no-repeat; background-position: 0 -32px; margin-left:7px}
.swiper-button-next{width:26px;height: 44px; background: url(images/arrow.png) no-repeat; background-position: -31px -32px; margin-right: 6px;}


/*news slider*/

.news{padding:70px 80px; box-sizing: border-box;}

.news .swiper-container{padding:30px 0}
.news .swiper-slide div{width:310px}
.news .swiper-slide .txt_wrap{font-size: 16px; color:#232323; line-height: 1.2; padding: 5px 10px; box-sizing: border-box;}
.news .swiper-slide .txt_wrap p:hover{text-decoration: underline;}
.news .swiper-slide .txt_wrap span{font-size: 13px; color:#999; padding:10px 0; display: inline-block;}
.news .swiper-slide .txt_wrap span:hover{text-decoration: underline;}

.news .swiper-container {
width: 100%;
height: 100%;
}
.news .swiper-slide {
text-align: left;
font-size: 18px;
background: #fff;
width:310px;

/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}



/*search bar*/
input {
outline: none;
border:0;
}
input[type=search] {
-webkit-appearance: textfield;
font-family: inherit;
font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
display: none; 
}

input[type=search] {
background: #f7f7f7;
border: solid 1px #ccc;
padding: 9px 10px 9px 15px;
width: 420px;
font-size:17px;

-webkit-border-radius: 10em;
-moz-border-radius: 10em;
border-radius: 10em;

-webkit-transition: all .5s;
-moz-transition: all .5s;
transition: all .5s;
}
input[type=search]:focus {
width: 420px;
background-color: #fff;
border-color: #66CC75;

-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
color: #999;
}
input::-webkit-input-placeholder {
color: #999;
}
.btn_search{position: absolute; top:30%; right:2%}
.btn_search img{width:20px;height:20px;}


.theme{overflow: hidden; padding: 70px 80px}
.theme h2{color:#3a3635; font-size: 19px; padding-bottom:30px}
.theme li{float: left;width:28%; box-sizing: border-box;
margin-bottom:90px; box-shadow:0 2px 5px rgba(25, 25, 25, 0.09);margin-right: 6%}
.theme li div:first-child{height: 180px; position: relative;}
.theme li div:last-child{width:310px ;height: 70px;}
.theme li:nth-child(3n){margin:0}
.theme li:first-child{border:1px solid #e5e5e5; text-align: center; height: 280px; background: #fff;
margin-bottom: 0}
.theme .tag{display: block; width:100%; padding: 30px 0; color:#3a3635; font-size: 15px;}
.theme .tag_box span{overflow: hidden; display: inline-block; padding: 2px 3px}
.theme .tag_box span:first-child{padding :25px 0}

.theme .tag_box span a{float: left; color:#757271; font-size: 12px; border:1px solid #e0e0e0; border-radius: 10px; padding:5px}
.theme .tag_box span a:hover{background: #01cd3b; border:1px solid #01cd3b; color:#fff; transition: all 0.1s ease; border:1px solid #000}

.theme .bg01{background: rgb(34,193,195);background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);}
.theme .bg02{background: rgb(139,34,195);background: linear-gradient(0deg, rgba(139,34,195,1) 0%, rgba(253,187,45,1) 100%);}
.theme .bg03{background: rgb(139,34,195);background: linear-gradient(0deg, rgba(139,34,195,1) 0%, rgba(45,253,145,1) 100%);}
.theme .bg04{background: rgb(195,34,34);background: linear-gradient(0deg, rgba(195,34,34,1) 0%, rgba(45,253,145,1) 100%);}
.theme .bg05{background: rgb(195,34,34);background: linear-gradient(0deg, rgba(195,34,34,1) 0%, rgba(45,140,253,1) 100%);}

.theme img{cursor: pointer; position: absolute;}
.theme .theme01{width:45%;height: 73%; top:14%; left:8%; z-index: 3;}
.theme .theme02{width:45%;height: 73%; top:14%; left:28%; z-index: 2;}
.theme .theme03{width:45%;height: 73%; top:14%; left:47%; z-index: 1;}

.theme .bottom {padding: 5px 10px}
.theme .bottom span{width:100%; display:block; padding:5px 0}
.theme .bottom span:first-child a{color:#3A3635; font-size: 15px;}
.theme .bottom span:last-child a{color:#757271; font-size: 12px;}

.theme ul li div{position: relative;}
.theme .btn_start{background: url(images/btn_start.png) no-repeat;width: 25px; height: 25px; background-position: -135px -30px;
position: absolute; right: 12%; bottom: 18%; z-index: 5;}
.theme .btn_start:hover{background-position: -135px -59px;}

.footer{height: 100px;padding: 10px 10px 10px 280px; background: #fff;}
.footer ul {float: left;}
.footer ul li{float: left; padding-right:30px; line-height: 2;}
.footer ul li a{font-size: 13px; color:#757271}
.footer .address{font-style: normal; font-size: 12px; color:#999999}

.m_player{position: fixed; bottom:0; width:100%; height: 65px; display:none; background: #888; z-index: 120; box-sizing: border-box; color:#fff}
.m_player .music{height:65px; width:70px; border-right: 1px solid #EEEEEE; float: left; padding: 8px 0 0 6px; box-sizing: border-box;}
.m_player .music img{height: 30px;cursor: pointer; padding: 10px 15px}
.m_player .name{float: left; padding: 13px 0 0 30px}
.m_player .name span{display:block;font-size:14px;}
.m_player .name span:last-child{color:#01cd3b}
.m_player .music_btn{float: right; padding:15px 40px 0 0}
.m_player .music_btn button{width:35px; height: 35px; margin-right: 10px;}
.m_player .music_btn button img{width:35px; height: 35px;}


/*반응형*/
@media screen and (max-width: 1280px) {
.head_side{display: none}

.container{padding: 80px 0 0 0}
.main_slider .down ul li{width:20%;}
.main_chart{padding:0 80px; width: 100%; box-sizing: border-box;}
.main_chart .chart{width: calc(100% - 300px);padding-right: 10px; box-sizing: border-box;}
.main_chart .hot_new{width: 300px; padding-left:10px; box-sizing: border-box;}

main .container{padding:70px 10px 10px 10px}
form input[type=search]:focus{width:420px}
.footer{padding:10px}
} 

@media screen and (max-width: 1120px){
  .m_vis{display: block; cursor: pointer;}
  .header .head_top{height: 60px;}
  .header .head_top ul a {width:78px; height: 24px;left:40px;top:20px}
  .header .head_top ul {display: none;}

  .header .head_top .m_nav{width:30px; float: right; margin-top:13px}
  .header .head_top .m_nav span{display: block; height: 4px; background: #01cd3b; margin:5px 0}
  .header .head_top h1 a{top:20px}


  .banner span:first-child{font-size:24px}
  .banner span:last-child{font-size:16px}


  .main_slider {padding: 0 40px}
  .main_slider .down ul li{width:33.33%; padding:2px}
  .main_slider .down ul li:nth-child(10){display:none}

  .main_chart{padding: 0 40px}
  .chart .chart_hover .li_name{width:41%}

  .news{padding:20px 40px; width:100%}
  .news .swiper-slide div{width:100%}
  .news .swiper-button-next, .swiper-container-rtl .swiper-button-prev{right:35px}

  .theme{padding:70px 40px}
  .theme ul .tag_box{height: 260px;}
  .theme ul li{width: calc(50% - 10px); float: left; margin-right:10px}
  .theme ul li:nth-child(2n){margin-right: 0;}
  .theme ul li:nth-child(3n){margin-right:10px}
  .theme img {width:65%; height: 75%;}
}

@media screen and (max-width: 1000px){
  .main_chart .chart{width:100%; float: none; padding-right: 0;}
  .main_chart .hot_new{width:100%; float: none; padding-left: 0;}
  .hot_new{overflow: hidden; padding:120px 0}
  .hot_new img{width:100%; height: 100%;}
  
  .news img{width:100%}
  .news .swiper-slide{margin:0; width:100%}

  .theme img{width:40%}
  .theme .theme01{left:4%}
  .theme li:first-child{margin-bottom:120px}
  .theme li:nth-child(3n){margin-bottom:120px}
  .theme ul li{width:100%;margin-bottom:120px}
}


@media screen and (max-width:760px){
  .m_player{display: block;}
  .header .head_top h1 a{width: 80px; height: 25px;}
  .main_slider .down .slider_name{padding:0 5px}
  
  .main_chart{padding:0 5px}
  .main_chart .time{padding:0; padding-top:5px}
  .main_slider{padding: 0 20px}
  .main_slider .up {padding: 0}
  .main_slider .up a{display: none;}
  .main_slider .up h2{font-size: 18px; padding:15px 0;}
  .main_slider .up button{margin:10px 0 0 30px}
  .main_slider .up a{padding:15px 10px 0 0}
  .main_slider .down ul li{width: 50%; padding:2px}
  .main_slider .down ul li:nth-child(10){display:block}

  .chart .li_name .artist{font-size: 0;}
  .chart .li_name .h_artist{font-size:12px}
  .chart .chart_hover img{display: none;}
  .chart .chart_hover .number{font-size: 15px; padding:0}
  .chart .chart_hover li{padding:0}
  .chart .chart_hover .li_name{padding:5px 0 0 10px}
  .chart .chart_hover .li_name .song_name{font-weight: normal;}
  .chart ul .li_name{width:59%}

  .hot_new{padding:35px 0}
  .news{padding: 0 5px}
  .news .swiper-button-next{right:0}
  .news .swiper-button-prev{left:0}
  .banner span:first-child{font-size: 20px;}
  .banner span:last-child{font-size: 14px;}
  
  .theme{padding: 0 5px}
  .theme .tag_box span:first-child{padding: 10px 0}
  .theme ul li,.theme li:first-child,.theme li:nth-child(2n),.theme li:nth-child(3n){margin-bottom:20px}
}
@media screen and (max-width:500px){
  .m_player .name{padding-left:5px}
  .m_player .name span{font-size: 12px;}
  .m_player .music_btn{padding-right:5px}
  .my_info span{font-size: 14px;}
}